name: Deploy to Server

on:
  push:
    branches:
      - test

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '22'

    - name: Install SSH key
      uses: webfactory/ssh-agent@v0.5.3
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    - name: Add server to known_hosts
      run: |
        ssh-keyscan -H portal-api.solutrix.io >> ~/.ssh/known_hosts

    - name: Deploy code to server
      run: |
        ssh deploy@portal-api.solutrix.io << EOF
        set -e
        cd /opt/solutrix-api || { mkdir -p /opt/solutrix-api && cd /opt/solutrix-api; }
        rm -rf *
        exit
        EOF

        rsync -avz --exclude='.git' --exclude='node_modules' ./ deploy@portal-api.solutrix.io:/opt/solutrix-api/

    - name: Install dependencies and run app
      run: |
        ssh deploy@portal-api.solutrix.io << EOF
        cd /opt/solutrix-api
        export ENABLE_GEOIP=true
        export ALLOWED_COUNTRIES=SE,NO,DK
        export ALLOW_PRIVATE=false
        export PORT=5000
        export DATABASE_URL=${{ secrets.DATABASE_URL }}
        export AZURE_STORAGE_CONNECTION_STRING=${{ secrets.AZURE_STORAGE_CONNECTION_STRING }}
        export AZURE_STORAGE_CONTAINER=${{ secrets.AZURE_STORAGE_CONTAINER }}
        export LAB_AZURE_STORAGE_CONTAINER=${{ secrets.LAB_AZURE_STORAGE_CONTAINER }}
        npm install
        npm run migrate
        npm run build
        nohup npm start > /dev/null 2>&1 &
        EOF

    - name: Create .env file on server
      run: |
        ssh deploy@portal-api.solutrix.io << EOF
        cat <<EOT > /opt/solutrix-api/.env
        ENABLE_GEOIP=true
        ALLOWED_COUNTRIES=SE,NO,DK
        ALLOW_PRIVATE=false
        PORT=5000
        DATABASE_URL=${{ secrets.DATABASE_URL }}
        AZURE_STORAGE_CONNECTION_STRING=${{ secrets.AZURE_STORAGE_CONNECTION_STRING }}
        AZURE_STORAGE_CONTAINER=${{ secrets.AZURE_STORAGE_CONTAINER }}
        LAB_AZURE_STORAGE_CONTAINER=${{ secrets.LAB_AZURE_STORAGE_CONTAINER }}
        EOT
        EOF

